body {
	background-image: url('/static/bg/leaves.png');
	box-shadow: 3px 3px 10px 3px #00000080;
}

input {
	background: none;
	border: none;
	border-bottom: 2px solid var(--color-border);
	font-size: 1em;
	padding: 8px 12px;
	outline: none;
    transition: .3s border-color;
}

input:focus {
	border-color: var(--color-primary);
}
