@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Kanit&family=Playfair+Display&display=swap');

/* semantic color variables for this project */
:root {
    --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);

    --color-background: #FBEFE8;
  
    --color-element: #fff;
  
    --color-border: var(--vt-c-divider-light-2);
    --color-border-hover: var(--vt-c-divider-light-1);
  
    --color-heading: var(--vt-c-text-light-1);
    --color-text: var(--vt-c-text-light-1);
  
    --color-primary: #7ece59;
    --color-primary-light: #a8e38d;
    --color-primary-dark: #4a8a2c;
  
    --color-negative: #ce5959;
    --color-negative-light: #e38d8d;
    --color-negative-dark: #8a2c2c;
  
    --color-secondary: #d9d8d8;
    --color-secondary-light: #ecebea;
    --color-secondary-dark: #b5b3b3;
  
    --color-mood: var(--color-secondary);
    --color-mood-light: var(--color-secondary-light);
    --color-mood-dark: var(--color-secondary-dark);
}

.primary {
    --color-mood: var(--color-primary);
    --color-mood-light: var(--color-primary-light);
    --color-mood-dark: var(--color-primary-dark);
}

.negative {
    --color-mood: var(--color-negative);
    --color-mood-light: var(--color-negative-light);
    --color-mood-dark: var(--color-negative-dark);
}

body {
    line-height: 1.6;
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
        Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
