@import "./base.css";


input {
	background: none;
	border: none;
	border-bottom: 2px solid var(--color-border);
	font-size: 1em;
	padding: 8px 12px;
	outline: none;
    transition: .3s border-color;
}

input:focus {
	border-color: var(--color-primary);
}

.btn-pill {
    font-size: 0.9em;
    border: none;
    padding: 12px 18px;
    margin: 0 8px;
    background-color: var(--color-mood);
    border-radius: 100vh;
    text-transform: uppercase;
    transition: .5s background-color;
    cursor: pointer;
}

.btn-pill:hover {
    background-color: var(--color-mood-light);
}

.btn-pill:active {
    background-color: var(--color-mood-dark);
    transition: .3s;
}

.btn-flat {
	padding: 4px;
	margin: 2px;
	cursor: pointer;
	font-family: 'Arvo', sans-serif;
	font-size: .9em;
	color: var(--color-text);
	text-decoration: none;
	transition: .5s;
	display: inline-block;
}

.btn-flat:hover {
    color: var(--color-mood-light);
}

.btn-flat:active {
    color: var(--color-mood-dark);
    transition: .3s;
}

.btn-flat .icon {
	position: relative;
	top: -2px;
}

.modal-enter-from {
    opacity: 0;
}

.modal-leave-to {
    opacity: 0;
}

.modal-enter-from .modal-container,
.modal-leave-to .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.error-text {
	color: var(--color-negative);
	font-size: .9em;
	transition: .3s;
}

.dialog-wrapper {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #0003;
	display: flex;
	align-items: center;
	justify-content: center;
    transition: .3s opacity;
}

.dialog-container {
	max-width: 512px;
	background-color: var(--color-element);
	border-radius: 8px;
	padding: 24px 18px;
	width: 80%;
}

.dialog-actions {
	display: flex;
	justify-content: right;
}
